<div class="container">
  <form class="form-signin" (submit)="signin()" #form="ngForm">
    <h2 class="form-signin-heading">Please sign in</h2>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input 
    type="email"
    name="email"
     id="inputEmail" 
     class="form-control" 
     placeholder="Email address" 
     required autofocus
     [(ngModel)]="signinFrom.email"
     email="true"
     #email="ngModel"
     >
<div  *ngIf="email.invalid && (email.dirty ||email.touched)"
    class="alert alert-danger"
>

<div *ngIf="email.errors.required">
Email is required.
</div>
<div *ngIf="email.errors.email">
Name must be @.
</div>

</div>
<div  *ngIf="email_err"
    class="alert alert-danger"
>
{{email_err}}
</div>

    <label for="inputPassword" class="sr-only">Password</label>
    <input 
    type="password" 
    name="password"
    id="inputPassword" 
    class="form-control" 
    placeholder="Password" required
    [(ngModel)]="signinFrom.password"
    #password="ngModel"
  minlength="6"
    >

    <div  *ngIf="password.invalid && (password.dirty ||password.touched)"
    class="alert alert-danger"
>

<div *ngIf="password.errors.required">
password is required.
</div>
<div *ngIf="password.errors.minlength">
password must be at least 6 characters long.
</div>

</div>


    <button 
    class="btn btn-lg btn-primary btn-block" type="submit"
    [disabled]="!form.form.valid"
    >Sign in</button>
  </form>
  <p class="info"><a [routerLink]="['/signup']" routerLinkActive="router-link-active" >Already have an account? Login here.</a></p>
</div>